[submodule "ai-question"]
	path = ai-question
	url = ./ai-question
[submodule "bot-core"]
	path = bot-core
	url = ./bot-core
[submodule "translate-service"]
	path = translate-service
	url = ./translate-service/
